<h1><%= @sub.title %></h1>
<h2><%= @sub.description %></h2>
<% @sub.posts.each do |post| %>
    <h3>
        <a href="<%= post_url(post) %>">
            <%= post.title %>
        </a>
    </h3>
    <%= post.content %>
    <br>
<% end %>
<br>
<br>
<br>

<a href="<%= new_sub_post_url(@sub) %>">Make A New Post</a>
<br>
<a href="<%= subs_url %>">Back to All Subs</a>
<br>
<a href="<%= edit_sub_url(@sub) %>">Edit Sub</a>